@font-face {
    font-family: "Plain Light";
    src: url(plain-light-webfont.ttf);
}
@font-face {
    font-family: "Plain Regular";
    src: url(plain-regular-webfont.ttf);
}
@font-face {
    font-family:"Silk Serif Light";
    src: url(silkserif-lightitalic-webfont.ttf);
}
@font-face {
    font-family: "Silk Serif";
    src: url(silkserif-regularitalic-webfont.ttf);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:"Plain Light" ;
    color: white;
}

html, body{
    height: 100%;
    width: 100%;   
}

.loader{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #0B0B0B;
    padding: 25vh 10vw;
}

.line{
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3vw
}

.count{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.3vw;
}

.count h5, .count h6{
    font-size: 3vw;
    font-weight: 200;
    font-family: "Silk Serif Light";
}

.count h5{
    width: 4vw;
}

.line h1{
    font-size: 6.5vw;
    text-transform: uppercase;
}

.line h3{
    font-size: 6.5vw;
    text-transform: uppercase;
}

.main{
    position: relative;
    background-color: #151515;
}

.page1{
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: #151515;
}

.page2{
    position: relative;
    background-color: #151515;
}

.page3{
    position: relative;
    background-color: #151515;
}