@font-face {
    font-family: "Plain Light";
    src: url(plain-light-webfont.ttf);
}
@font-face {
    font-family: "Plain Regular";
    src: url(plain-regular-webfont.ttf);
}
@font-face {
    font-family:"Silk Serif Light";
    src: url(silkserif-lightitalic-webfont.ttf);
}
@font-face {
    font-family: "Silk Serif";
    src: url(silkserif-regularitalic-webfont.ttf);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:"Plain Light" ;
    color: white;
    /* cursor: none; */
}

html, body{
    height: 100%;
    width: 100%;   
}

.cursor{
    height: 3vw;
    width: 3vw;
    border-radius: 50%;
    border:1px solid rgba(255, 255, 255, 0.699);
    position:fixed;
    z-index: 100;
    transform: translate(-50%,-50%);
}

.loader{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #000000;
    padding: 20vh 10vw;
}

.line{
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2.5vw
}

.count{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.3vw;
}

.count h5, .count h6{
    font-size: 3.4vw;
    font-weight: 200;
    font-family: "Silk Serif Light";
}

.count h5{
    width: 4.2vw;
}

.line h1{
    font-size: 6.5vw;
    text-transform: uppercase;
}

.line h3{
    font-size: 6.5vw;
    text-transform: uppercase;
    text-align: center;
    animation: nowAnime 2s infinite;
}

@keyframes nowAnime {
    0%{
        font-family: "Plain Light";
        -webkit-text-stroke: transparent;
        opacity: 1;
    }
    45%{
        font-family: "Plain Light";
        -webkit-text-stroke: transparent;
        opacity: 0;
    }
    50%{
        font-family: "Silk Serif";
        -webkit-text-stroke: 1px white;
        color:transparent;
        font-weight: 600;
        opacity: 1;
        transform: translateY(-10px);
    }
    100%{
        font-family: "Silk Serif";
        -webkit-text-stroke: 1px white;
        color:transparent;
        font-weight: 600;
        opacity: 0;
        transform: translateY(-10px);

    }
}
.wait{
    position: absolute;
    top: 38vw;
    left: 25vw;
    overflow:hidden;
}


.main{
    position: relative;
    background-color: #000000;
}

.page1{
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: #151515;
}

.page1 .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 7vw;
}

.start{
    display: flex;
    justify-content: center;
    align-items: center;
}

.start p{
    padding: 3vw;
}

.page1 .nav img{
    height: 2.5vw;
    width: 6vw;
}

.nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-part2 h4{
    font-weight: 400;
    font-size: 1.2vw;
    padding: 2vw;
}

.page1 .hero{
    /* background-color: grey; */
    width: 70%;
    margin-left: 30%;
    overflow: hidden;
}

.hero:nth-child(2){
    margin-top: 14vh;
}

.hero h1{
    font-size: 7vw;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 7vw;
}

.hero:nth-child(2):before{
    content: "01";
    font-family: "Silk Serif Light";
    position: absolute;
    font-size: 3vw;
    left: 20%;
}

.hero3{
    display: flex;
    align-items: center;
}

.hero3 h2{
    font-size: 7vw;
    font-weight: 100;
    text-transform: uppercase;
    line-height: 7vw;
    border-bottom: 0.5vw solid white;
    /* transition: all ease 0.3s; */
}

.hero3 :hover{
    -webkit-text-stroke: 1px white;
    color: transparent;
    border-bottom: none;
}

.page2{
    background-color: #151515;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.page2 video{
    height: 100%;
    width: 100%;
}

.video-container{
    height: 70vh;
    width: 65vw;
    position: relative;
    left:35%;
    top:15%;
    background: url(Showreel-2022-preview-1.jpg);
    background-size: cover;
    background-position: center;
    z-index: 99;
}

.page3{
    position: relative;
    background-color: #151515;
}